#tooltip {
  position: absolute;
  background-color: black;
  width: 500px;
  text-align: center;
  color: white;
  padding: 1em;
  opacity: 0.90;
}

#tooltip h2, #tooltip h4 {
  font-family: 'Diablo Heavy';
  font-variant: small-caps;
  font-weight: bold;
  color: lime;
  font-size: 21px;
}

#tooltip p, #tooltip div {
  font-family: 'Diablo Heavy';
  color: white;
  font-size: 16px;
}

#tooltip h2::first-letter {
  font-variant: normal;
}

#tooltip .skill-block {
  margin: 0.5em 0;
}
